<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<servlet>
		<servlet-name>CookieServlet</servlet-name>
		<servlet-class>allen.servlet.cookie.CookieServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetCookieServlet</servlet-name>
		<servlet-class>allen.servlet.cookie.GetCookieServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>CookieServlet</servlet-name>
		<url-pattern>/cookieServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetCookieServlet</servlet-name>
		<url-pattern>/getCookie</url-pattern>
	</servlet-mapping>
</web-app>